* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  margin: 0;
  text-align: center;
}

body p {
  margin-top: 50px;
}

body h1 {
  text-decoration: underline;
}


.grid-wrapper {
  height: 85vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 2.5%;
  background-color: indigo;
}

.win-screen {
  display: none;
}
.kill-screen {
  display: none;
}

.grid div.innerpath {
  background-color: pink;
}

.grid div.innerpath.painted {
  background-color: green;
}

.grid div.teleporter {
  background-color: lightblue;
}


.grid div.hack.teleporter {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/unbuffed.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: lightblue;
}

.grid div.hack.innerpath {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/unbuffed.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid.remove-grid {
  display: none;
}

.win-screen.win {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
  font-size: 50px;
  text-decoration: underline;
  background-color: lightblue;
}
.kill-screen.kill {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
  font-size: 50px;
  text-decoration: underline;
  background-color: red;
}


.grid div.josh.innerpath {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/josh.png');
  background-size: cover;
}

.grid div.hank.innerpath {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/hank.png');
  background-size: cover;
}

.grid div.steph.innerpath {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/steph.png');
  background-size: cover;
}

.grid div.crake.innerpath {
  background-image: url('/Users/liam/Development/SEI50/projects/sei-project-1/assets/crake.png');
  background-size: cover;
}
