* {
  box-sizing: border-box;
}

body {
  height: 90vh;
  margin: 0;
  text-align: center;
}

body p {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

body p#secret-footer {
  margin-top: 50px;
  margin-bottom: -100px;
  text-decoration: underline;
}

a {
  text-decoration: overline;
  color: green;
}

body h1 {
  text-decoration: underline;
}

.grid-wrapper {
  height: 85vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 2.5%;
  background-color: indigo;
}

.factory {
  background-image: none;
  background-color: indigo;
}

.win-screen {
  display: none;
}
.kill-screen {
  display: none;
}

.grid div.innerpath {
  background-color: pink;
}

.grid div.innerpath.painted {
  background-color: green;
}

.grid div.teleporter {
  background-color: lightblue;
}


.grid div.hack.teleporter {
  background-image: url('./assets/unbuffed.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: lightblue;
}

.grid div.teleporter.other-one {
  background-image: url('./assets/boom.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.grid div.hack.innerpath {
  background-image: url('./assets/unbuffed.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.hack.innerpath.down {
  transform: rotate(90deg);
  background-size: contain;
}

.grid div.hack.innerpath.up {
  transform: rotate(270deg);
  background-size: contain;
}

.grid div.hack.innerpath.left {
  transform: rotate(180deg);
  background-size: contain;
}

.grid div.hack.innerpath.power-buff {
  background-image: url('./assets/powerbuff.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.hack.innerpath.down.power-buff {
  transform: rotate(90deg);
  background-size: contain;
}

.grid div.hack.innerpath.up.power-buff {
  transform: rotate(270deg);
  background-size: contain;
}

.grid div.hack.innerpath.left.power-buff {
  transform: rotate(180deg);
  background-size: contain;
}

.hack-death {
  background-image: url('.assets/death spin.png');
  transform: none;
  background-size: contain;
}

.grid.remove-grid {
  display: none;
}

.win-screen.win {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
  font-size: 50px;
  text-decoration: underline;
  background-color: lightblue;
}
.kill {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 1200px;
  font-size: 50px;
  text-decoration: underline;
  background-color: red;
}

.grid div.josh.innerpath {
  background-image: url('./assets/josh.png');
  background-size: cover;
}

.grid div.josh.innerpath.left {
  transform: rotate(90deg);
  background-size: cover;
}

.grid div.josh.innerpath.right {
  transform: rotate(270deg);
  background-size: cover;
}

.grid div.josh.innerpath.up {
  transform: rotate(180deg);
  background-size: cover;
}

.grid div.hank.innerpath {
  background-image: url('./assets/hank.png');
  background-size: cover;
}
.grid div.hank.innerpath.left {
  transform: rotate(90deg);
  background-size: cover;
}

.grid div.hank.innerpath.right {
  transform: rotate(270deg);
  background-size: cover;
}

.grid div.hank.innerpath.up {
  transform: rotate(180deg);
  background-size: cover;
}

.grid div.steph.innerpath {
  background-image: url('./assets/steph.png');
  background-size: cover;
}
.grid div.steph.innerpath.left {
  transform: rotate(90deg);
  background-size: cover;
}

.grid div.steph.innerpath.right {
  transform: rotate(270deg);
  background-size: cover;
}

.grid div.steph.innerpath.up {
  transform: rotate(180deg);
  background-size: cover;
}

.grid div.crake.innerpath {
  background-image: url('./assets/crake.png');
  background-size: cover;
}
.grid div.crake.innerpath.left {
  transform: rotate(90deg);
  background-size: cover;
}

.grid div.crake.innerpath.right {
  transform: rotate(270deg);
  background-size: cover;
}

.grid div.crake.innerpath.up {
  transform: rotate(180deg);
  background-size: cover;
}

.grid div.innerpath.survivor {
  background-image: url('./assets/survivor.png');
  background-size: cover;
}
.grid div.innerpath.hack.survivor {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.josh.survivor {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.hank.survivor {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.steph.survivor {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.crake.survivor {
  transform: none;
  background-size: contain;
}

.grid div.innerpath.saved {
  background-image: url('./assets/saved.png');
  background-size: cover;
}
.grid div.innerpath.hack.saved {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.josh.saved {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.hank.saved {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.steph.saved {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.crake.saved {
  transform: none;
  background-size: contain;
}

.grid div.innerpath.power {
  background-image: url('./assets/power.png');
  background-size: contain;
}
.grid div.innerpath.hack.power {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.josh.power {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.hank.power {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.steph.power {
  transform: none;
  background-size: contain;
}
.grid div.innerpath.crake.power {
  transform: none;
  background-size: contain;
}

.drone-death {
  background-image: url('./assets/boom2.png');
  background-size: contain;
}

.hidden {
  display: none;
}